/*=========LES CARTES CSS===========*/

main {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

/* Conteneur englobant pour le défilement horizontal */
.cards-wrapper {
  width: 100%;
  overflow-x: auto; /* Autoriser le défilement horizontal */
  display: flex;
  justify-content: center; /* Centrer le conteneur des cartes */
}

/* Conteneur des cartes pour le défilement */
.cards-container {
  font-size: 10px;
  display: flex;
  flex-wrap: nowrap; /* Empêcher le saut de ligne des cartes */
  gap: 10px;
  justify-content: flex-start; /* Aligner les cartes à gauche */
  align-items: center; /* Centrer verticalement les cartes */
  padding: 10px; /* Espacement intérieur pour le conteneur des cartes */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

/* Chaque carte */
.card {
  min-width: 250px; /* Largeur minimale des cartes */
  max-width: 300px; /* Limiter la largeur des cartes */
  height: 130px; /* Hauteur fixe des cartes */
  margin: 10px;
  background: linear-gradient(45deg, #3ce95c, #006a00);
  border-radius: 10px;
  color: white;
  padding: 15px; /* Réduire le padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Masquer les barres de défilement */
.cards-wrapper::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement sur WebKit (Chrome, Safari) */
}

.cards-wrapper {
  scrollbar-width: none; /* Masquer la barre de défilement sur Firefox */
  -ms-overflow-style: none; /* Masquer la barre de défilement sur Internet Explorer et Edge */
}

/* Réduction de la largeur des cartes pour les petits écrans */
@media (max-width: 600px) {
  .card {
    min-width: calc(80% - 20px); /* Cartes prennent la largeur totale */
  }
}


/*=====LES LOGOS======*/
.ligne-logos2 {
  display: flex;
  justify-content: space-between; /* Espacement égal entre les logos */
  padding: 45px; /* Espacement intérieur */
  margin-top: -50px;
}
.ologo1, .ologo2, .ologo3{
  text-decoration: none;
  color: black;
}

.logo2 {
  text-align: center; /* Centrage du contenu */
}

.logo2 i {
  font-size: 18px; /* Taille de l'icône */
  display: block; /* Pour que les sous-titres soient en dessous */
  margin: 0 auto; /* Centrage horizontal */
  border-radius: 50%; /* Forme ronde */
  width: 40px; /* Largeur */
  height: 40px; /* Hauteur */
  line-height: 40px; /* Pour centrer l'icône verticalement */
  background-color: #fff; /* Fond blanc */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.sous-titre2 {
  margin-top: 10px; /* Espacement avec l'icône */
  font-size: 13px; /* Taille du texte */
}


.compte-ligne.utilise {
  color: green; /* Texte vert pour la ligne "Utilisé" */
}

.compte-progress-bar-container {
  width: 100%;
  background-color: #e0e0e0; /* Couleur de fond gris clair pour le conteneur de la barre de progression */
  height: 10px; /* Hauteur réduite de la barre de progression */
  border-radius: 10px;
  overflow: hidden; /* Cache le débordement */
  margin: 20px 0; /* Espace autour de la barre de progression */
}

.compte-progress-bar {
  height: 100%;
  width: 0;
  transition: width 0.5s; /* Transition douce pour l'animation */
}

.compte-ligne.restant {
  font-size: 10px;
  color: #333; /* Couleur noire pour le texte restant */
}


/* Styles de la modale */
.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/*===========HISTORIQUES DES TRANSACTIONS==============*/
/* Styles pour le titre de l'historique */
.hist {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Styles pour le conteneur des transactions */
.transaction-history {
  max-width: 800px;
  margin: 0 auto;
}

/*=========LES TRANSACTIONS==============*/
.transaction {
  margin: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Transition pour l'effet au survol */
}

.transaction:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.transaction-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out; /* Ajout de la transition pour le padding */
  padding: 0; /* Initialement aucun padding */
}

.transaction.show-details .transaction-details {
  max-height: 200px; /* Hauteur maximale pour le déploiement */
  padding: 15px; /* Padding lors de l'affichage */
}


/* Styles pour l'en-tête de la transaction */
.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* Pointeur pour le clic */
  padding: 10px 0; /* Espacement interne */
}

/* Styles pour le bouton de téléchargement du reçu */
.download-receipt {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.download-receipt:hover {
  background-color: #0056b3;
}

/* Styles pour le label, la date, et le montant */
.transaction-label {
  font-weight: bold;
  color: #333;
}

.transaction-date, .transaction-amount {
  color: #666;
}

.transaction-date {
  font-size: 14px;
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
}

/* Styles pour les détails de la transaction */
.transaction-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}


/*==========FOOTER==========*/
 /* Styles pour le footer */
 .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e3e3e3;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-align: center;
}

.logo a {
  display: block;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /* Transition de couleur pour le texte */
}

.logo a:hover {
  color: red; /* Couleur rouge au survol */
}

.logo i {
  font-size: 24px; /* Taille de l'icône */
  margin-bottom: 5px; /* Espace sous l'icône */
}

.sous-titre {
  font-size: 12px;
}