/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


*/

/*=======================*/

/* Styles généraux des pop-ups */
.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

.popup-content {
    text-align: start;
}

.popup h2 {
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    color: red;
    text-align: start;
}

.popup p {
    margin-bottom: 10px;
    /* Ajout de marge en bas pour séparer du bouton */
}

.close-btn {
    display: block;
    margin: 10px auto 0;
    /* Centrage horizontal et espace en haut */
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    /* Couleur de fond du bouton */
    cursor: pointer;
}

.close-btn:hover {
    background-color: #ff0000;
    /* Couleur de fond du bouton au survol */
}


/*=======================*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container p {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

.logodusite {
    width: 140px;
}

.container form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.col.logo {
    display: flex;
    flex-direction: column;
}

.col:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.links {
    margin-top: 10px;
}

.links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #c2975e;
}

.links a:hover {
    text-decoration: underline;

}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #2fa115d3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}



button:hover {
    background-color: #0c9202;
}

/* Media query pour les écrans de petite taille */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin-right: 0;
        margin-bottom: 10px;
    }

    * {
        box-sizing: border-box;
        margin: 5px;
        padding: 0;
    }
}


